@import "index.css";
/* any  */

@media (hover: hover) {
  .list-word:hover .link-fonts {
    color: rgb(179, 218, 222);
  }

  .info-button:hover {
    background-color: rgba(58, 128, 136, 255);
    border-color: rgba(58, 128, 136, 255);
  }

  .info-button:hover span {
    color: white;
  }

  .send-form-button:hover {
    background-color: white;
    color: black;
  }

  .button:hover {
    background: #5c5bbb;
  }

  .swiper-navBtn:hover {
    color: skyblue;
  }
}

@media (hover: none) {
  #top:target {
    color: rgb(179, 218, 222);
  }
  #app-scroll:target {
    color: rgb(179, 218, 222);
  }
  #story:target {
    color: rgb(179, 218, 222);
  }

  .info-button:active {
    background-color: rgba(58, 128, 136, 255);
    border-color: rgba(58, 128, 136, 255);
  }

  .info-button:active span {
    color: white;
  }

  .send-form-button:active {
    background-color: white;
    color: black;
  }

  .button:active {
    background: #5c5bbb;
  }

  .swiper-navBtn:active {
    color: skyblue;
  }
}

@media only screen and (max-device-width: 480px) {
  body,
  html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
  }

  :host(.device-mobile-optimized) .mobile > :last-child,
  body.device-mobile-optimized .mobile > :last-child {
    margin-bottom: var(--lastChildMarginBottom, var(--margin));
    margin-top: var(--firstChildMarginTop, 0);
    position: relative;
  }

  :host(.device-mobile-optimized) .menu-container,
  body.device-mobile-optimized .menu-container {
    height: 100vh;
    left: calc((100% - var(--screen-width)) / 2);
  }

  body.device-mobile-optimized:not(.responsive):not(.blockSiteScrolling)
    #SITE_CONTAINER {
    margin-top: 0;
  }

  :host(.device-mobile-optimized) .mobile,
  body.device-mobile-optimized .mobile {
    display: block;
    padding: var(--padding) 0;
    position: relative;
  }

  body.device-mobile-optimized .overlay-menu-container {
    height: 100vh;
    left: calc((100% - var(--screen-width)) / 2);
    width: var(--screen-width);
  }

  :root,
  :host,
  .spxThemeOverride {
    --site-width: 100%;
  }

  /* IDs */

  #masterPage,
  #SITE-HEADER,
  #PAGES-CONTAINER,
  #SITE-FOOTER {
    width: 320px;
  }

  #SITE-HEADER {
    position: relative;
    width: 321px;
  }

  #PAGES-CONTAINER {
    display: flex;
    justify-content: flex-start;
    top: 0;
    margin-top: -1px;
  }

  #SITE-FOOTER {
    top: 0;
  }

  /* header IDs */

  #header-logo {
    width: 50px;
    height: 49px;
  }

  #header-logo img {
    width: 50px;
    height: 49px;
    object-fit: cover;
  }

  #header-01 {
    width: 320px;
  }

  #header-02 {
    position: absolute;
    top: 76px;
    background-color: var(
      --screenwidth-corvid-background-color,
      rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1))
    );
    width: 320px;
    height: 100vh;
  }

  #header-03 {
    display: block;
    width: 50px;
    height: 50px;
  }

  #header-01-11 {
  }

  #menu-container {
    --menu-height: 691.2px;
    left: calc((100% - 320px) / 2);
    --bg-overlay-color: rgb(var(--color_25));
    --bg-gradient: none;
    --screen-width: 100vw;
    margin-left: 0;
    width: 100%;
    --bg: var(--color_15);
    --alpha-bg: 0.6;
  }

  #menu-container-00 {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: var(--menu-height);
  }

  #menu-container-01 {
    width: 188px;
    height: auto;
    --direction: rtl;
    --item-height: 56px;
    --text-align: center;
    --template-columns: calc(40px + 1em) 1fr calc(40px + 1em);
    --label-grid-column: 2;
    --arrow-grid-column: 3;
    --padding-left: 0px;
    --sub-padding-left: 0px;
    --padding-right: 0px;
    --sub-padding-right: 0px;
  }

  #menu {
    width: 320px;
  }

  /* Mixed  IDs */

  #intro,
  #info,
  #app,
  #story,
  #rating {
    min-width: 100%;
    width: 320px;
  }

  #info-00,
  #info-00-02,
  #app-00-01,
  #app-00-02 {
    min-height: 0;
    min-width: 100%;
  }

  #app-01-10,
  #app-01-20,
  #contact-00-01,
  #contact-00-02,
  #intro-01,
  #intro-02,
  #app-02-10,
  #footer-00 {
    min-width: 0;
    width: 100%;
    padding: 0;
    --column-width: 100%;
    --column-flex: 320;
  }

  #story-00,
  #contact-layer,
  #intro-layer {
    min-width: 0;
    width: 320px;
  }

  #app-01,
  #info-00-01,
  #intro-00-01 {
    --column-width: 320px;
    --column-flex: 320;
  }

  #intro-00,
  #app-00-01,
  #app-00-02,
  #contact-00,
  #contact,
  #footer {
    left: 0;
    margin-left: 0;
    min-width: 0;
    width: 100%;
  }

  #info-02-12,
  #form-05,
  #app-02-24 {
    --shc-mutated-brightness: 128, 128, 128;
    --fnt: normal normal normal 14.933333333333334px/1.75em futura-lt-w01-light,
      futura-lt-w05-light, sans-serif;
    --label-align: center;
    --label-text-align: center;
  }

  /* pages section IDs */

  /* Intro IDs */

  #intro-01-10,
  #intro-01-11 {
    width: 280px;
  }

  #intro-02-10 {
    width: 241px;
  }

  #intro-02-11 {
    width: 133px;
  }

  #intro-02-20 {
    width: 223px;
    height: 322px;
  }

  #intro-02-20 img {
    width: 223px;
    height: 322px;
  }

  #intro-02-21 {
    width: 120px;
    height: 76px;
  }

  #intro-02-21 img {
    width: 120px;
    height: 76px;
  }

  #intro-02-22 {
    width: 118px;
    height: 256px;
  }

  #intro-02-22 img {
    width: 118px;
    height: 256px;
  }

  /* Info IDs */

  #info-blank {
    height: 5px;
  }

  #info-01 {
    width: 280px;
  }

  #info-02-10 {
    width: 223px;
  }

  #info-02-11 {
    width: 280px;
  }

  #info-02-12 {
    width: 200px;
  }

  /* Story IDs */

  #story-01 {
    height: auto;
    width: 100%;
    margin-left: 30px;
    line-height: 90px;
    margin-bottom: 70px;
  }

  /* App IDs */

  #app-01-11,
  #app-01-12,
  #app-01-13,
  #app-02-21,
  #app-02-22 {
    width: 280px;
  }

  #app-01-14 {
    width: 272px;
    height: auto;
  }

  #app-01-21 {
    width: 157px;
  }

  #app-01-22 {
    width: 142px;
    height: 309px;
  }

  #app-01-22 img {
    width: 142px;
    height: 309px;
  }

  #app-01-23 {
    width: 210px;
    height: 53px;
  }

  #app-01-23 img {
    width: 210px;
    height: 53px;
    object-fit: cover;
    object-position: 50% 50%;
  }

  #app-02-11 {
    width: 280px;
    height: 199px;
  }

  #app-02-11 img {
    width: 280px;
    height: 199px;
  }

  #app-02-23 {
    width: 272px;
    height: auto;
  }

  #app-02-24 {
    width: 240px;
    height: 42px;
  }

  /* footer IDs */

  #footer-logo {
    width: 60px;
    height: 59px;
  }

  #footer-logo img {
    width: 60px;
    height: 59px;
  }

  #footer {
    background: ghostwhite;
  }

  #footer-01-11 {
    width: 199px;
  }

  #footer-01-11 p {
    font-size: 20px;
  }

  #footer-01-12,
  #footer-01-13 {
    width: 245px;
  }

  #footer-01-13 {
    margin: 0;
  }

  #footer-01-14 {
    height: auto;
    width: 224px;
  }

  #footer-02-10 {
    width: 100px;
    height: 30px;
  }

  #footer-02-10 img {
    width: 100px;
    height: 30px;
  }

  #footer-02-11 {
    width: 148px;
    height: auto;
  }

  #footer-02-11 p {
    text-align: left;
    font-size: 13px;
  }

  #contact-01 {
    width: 225px;
    height: auto;
  }

  #contact-layer {
    padding: 0;
  }

  #contact {
    height: 100%;
  }

  #contact-02-00 {
    width: 90%;
  }

  #form-01,
  #form-02,
  #form-03 {
    width: 100%;
    height: 67px;
  }

  #form-05 {
    width: 163px;
    height: 42px;
    /* margin: 0; */
  }

  #form-04 {
    --inputHeight: 95px;
    width: 100%;
  }

  #form-01,
  #form-02,
  #form-03 {
    --inputHeight: 67px;
  }

  #form {
    width: 100%;
  }

  /* Classes */
  .story {
    padding: 0;
  }

  .team {
    margin-top: 40px;
  }

  .swiper {
    width: 100%;
    margin: 0;
  }

  .slide-content {
    margin: 0 50px;
    height: 100%;
  }

  .name {
  }
  /* header */

  .menu-container[data-undisplayed="true"] {
    display: none;
  }

  .menu-container {
    top: 0;
    opacity: 1;
    visibility: visible;
    z-index: calc(var(--above-all-z-index) - 1);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .menu-container-01 .menu-container-02 {
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, 0.6));
    position: relative;
    -webkit-transform: translateZ(0);
  }

  .menu-container-01 > ul {
    box-sizing: border-box;
    width: 100%;
  }

  .menu-toggle-01 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    background-color: rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1));
    border: solid var(--borderwidth, 0)
      rgba(var(--bordercolor, var(--color_11)), var(--alpha-bordercolor, 1));
    border-radius: var(--rd, 0);
    /* box-shadow: var(--shd,0 0 0 rgba(0,0,0,.6)); */
    transition: all 0.5s;
  }

  .menu-toggle-02 {
    height: 20px;
    margin: auto;
    position: relative;
    width: 22px;
  }

  .menu-toggle-line {
    background-color: rgba(
      var(--lineColor, var(--color_11)),
      var(--alpha-lineColor, 1)
    );
    border-radius: 2px;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .line-2 {
    margin: auto;
    top: 0;
  }

  .line-2,
  .line-3 {
    bottom: 0;
  }

  body:not(.responsive) .menu-toggle {
    z-index: var(--above-all-in-container);
  }

  .menu-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  .list-container {
    display: flex;
    flex-direction: column;
  }

  .list-word .menu-container-03 {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    height: var(--item-height, 50px);
    position: relative;
  }

  .list-word .link {
    padding-left: var(--padding-left-lvl1, 0);
    padding-right: var(--padding-right-lvl1, 0);
  }

  .list-word .menu-container-03 > .menu-container-04 {
    position: relative;
    text-overflow: ellipsis;
  }

  .list-word > .menu-container-03 > .menu-container-04 > .link {
    color: rgb(var(--txtsSub, var(--color_13)));
    color: rgb(var(--txts, var(--color_13)));
  }

  .list-word .menu-container-03 > .menu-container-04 > .link {
    bottom: 0;
    color: rgb(var(--txt, var(--color_15)));
    display: inline;
    font: var(--fnt, var(--font_1));
    left: 0;
    line-height: var(--item-height, 50px);
    overflow: hidden;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
  }

  /* any  */

  .form-flex {
    --display: flex;
    direction: var(--direction);
    display: var(--display);
    flex-direction: column;
    min-height: 25px;
    position: relative;
    text-align: var(--align, start);
  }

  .textarea-form {
    direction: var(--labelDirection, inherit);
  }

  .form-line #input_form-01 {
    width: 100%;
  }

  .form-line #input_form-02 {
    width: 100%;
  }

  .info-link,
  .form-link,
  .link-fonts,
  .info-button,
  .form-button,
  .send-form-button,
  .button {
    transition: none;
  }

  /* Pics classes */

  .phonePic-1,
  .phonePic-0 {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }

  .link-padding div {
    text-align: center;
  }

  /* Animations */
  #header-02 {
    animation: 500ms slideOut;
  }

  #header-02[closed] {
    display: none;
  }

  #header-02[closing] {
    display: block;
    pointer-events: none;
    animation: 500ms slideIn ease-in;
  }

  @keyframes slideOut {
    from {
      height: 0;
    }

    to {
      height: 100vh;
    }
  }

  @keyframes slideIn {
    from {
      height: 100vh;
    }

    to {
      height: 0;
    }
  }

  .menu-toggle-02[opening] .line-1 {
    animation: 500ms openLine1;
  }

  .menu-toggle-02[opened] .line-1 {
    transform: translateY(10px) translateY(-50%) rotate(-45deg);
  }

  .menu-toggle-02[closing] .line-1 {
    animation: 500ms closeLine1;
  }

  @keyframes openLine1 {
    from {
    }

    to {
      transform: translateY(10px) translateY(-50%) rotate(-45deg);
    }
  }

  @keyframes closeLine1 {
    from {
      transform: translateY(10px) translateY(-50%) rotate(-45deg);
    }

    to {
    }
  }

  .menu-toggle-02[opening] .line-2 {
    animation: 500ms fadeOut ease-out;
  }

  .menu-toggle-02[opened] .line-2 {
    opacity: 0;
  }

  .menu-toggle-02[closing] .line-2 {
    animation: 500ms fadeIn ease-in;
  }

  .menu-toggle-02[opening] .line-3 {
    animation: 500ms openLine3;
  }

  .menu-toggle-02[opened] .line-3 {
    transform: translateY(-10px) translateY(50%) rotate(45deg);
  }

  .menu-toggle-02[closing] .line-3 {
    animation: 500ms closeLine3;
  }

  @keyframes openLine3 {
    from {
    }

    to {
      transform: translateY(-10px) translateY(50%) rotate(45deg);
    }
  }

  @keyframes closeLine3 {
    from {
      transform: translateY(-10px) translateY(50%) rotate(45deg);
    }

    to {
    }
  }

  .list-container {
    animation: 500ms fadeIn ease-in;
  }

  .list-container[closing] {
    animation: 500ms fadeOut;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  /* mesh IDs */

  #masterPage.mesh-layout #PAGES-CONTAINER {
    position: relative;
  }

  /* Mix mesh */

  [data-mesh-id="intro-02-gridContainer"],
  [data-mesh-id="info-01-gridContainer"],
  [data-mesh-id="contact-00-gridContainer"],
  [data-mesh-id="contact-01-gridContainer"],
  [data-mesh-id="menu-container-00-gridContainer"] {
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
  }

  [data-mesh-id="app-00-gridContainer"],
  [data-mesh-id="app-01-20-gridContainer"],
  [data-mesh-id="footer-02"] {
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100%;
  }

  [data-mesh-id="app-01-10-gridContainer"],
  [data-mesh-id="footer-01"] {
    width: 100%;
    min-height: auto;
    grid-template-rows: repeat(3, min-content) 1fr;
    grid-template-columns: 100%;
  }

  /* header mesh */

  /* [data-mesh-id="SITE-HEADER-gridContainer"] > [id="header-00"] {
    margin: 10px 0px 20px calc((100% - 980px) * 0.5);
  } */

  [data-mesh-id="SITE-HEADER-gridContainer"] > [id="header-01"] {
    position: relative;
    margin: 0;
    left: 0;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
  }

  [data-mesh-id="SITE-HEADER-gridContainer"] > [id="header-logo"] {
    left: 20px;
  }

  [data-mesh-id="SITE-HEADER-gridContainer"] > [id="header-01-11"] {
    left: 42px;
    margin: 11px 0px 0px calc((100% - 323px) * 0);
  }

  [data-mesh-id="SITE-HEADER-gridContainer"] > [id="menu"] {
    position: relative;
    margin: 73px 0px 0 0;
    left: 66px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
  }

  [data-mesh-id="SITE-HEADER-gridContainer"] > [id="header-03"] {
    position: relative;
    margin: 10px 0px 10px calc((100% - 320px) * 0.5);
    margin-left: 0;
    left: 259px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
  }

  [data-mesh-id="menu-container-00-gridContainer"] {
    padding-bottom: 0px;
    box-sizing: border-box;
  }

  [data-mesh-id="menu-container-00-gridContainer"] > [id="menu-container-01"] {
    position: relative;
    margin: 73px 0px 0 0;
    left: 66px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
  }

  /* pages mesh  */

  [data-mesh-id="PAGES-CONTAINER-gridContainer"] {
    min-height: 200px;
    grid-template-rows: repeat(4, min-content) 1fr;
  }

  [data-mesh-id="PAGES-CONTAINER-gridContainer"] > [id="app"] {
    margin: 0px 0px 0 calc((100% - 320px) * 0.5);
  }

  [data-mesh-id="PAGES-CONTAINER-gridContainer"] > [id="intro"] {
    margin: 0px 0px 0 calc((100% - 320px) * 0.5);
  }

  /* Intro mesh */

  [data-mesh-id="intro-00-gridContainer"] > [id="intro-00"] {
    margin: 0px 0px 0px calc((100% - 320px) * 0.5);
  }

  [data-mesh-id="intro-01-gridContainer"] {
    min-height: 255px;
  }

  [data-mesh-id="intro-01-gridContainer"] > [id="intro-01-10"] {
    margin: 30px 0px 10px 0;
    left: 20px;
  }

  [data-mesh-id="intro-01-gridContainer"] > [id="intro-01-11"] {
    margin: 0px 0px 10px 0;
    left: 20px;
  }

  [data-mesh-id="intro-02-gridContainer"] > [id="intro-02-10"] {
    margin: 11px 0px 10px 0;
    left: 39px;
  }

  [data-mesh-id="intro-02-gridContainer"] > [id="intro-02-11"] {
    margin: 152px 0px 42px 0;
    left: 26px;
  }

  [data-mesh-id="intro-02-10-gridContainer"] > [id="intro-02-20"] {
    margin: 9px 0px 9px 0;
    left: 9px;
  }

  [data-mesh-id="intro-02-10-gridContainer"] > [id="intro-02-21"] {
    margin: 141px 0px 10px 0;
    left: 142px;
  }

  [data-mesh-id="intro-02-10-gridContainer"] > [id="intro-02-22"] {
    margin: 6px 0px 7px 0;
    left: 7px;
  }

  /* Info mesh */

  [data-mesh-id="info-00-gridContainer"] > [id="info-00"] {
    margin: 0px 0px 0px calc((100% - 320px) * 0.5);
  }

  [data-mesh-id="info-00-gridContainer"] > [id="info-blank"] {
    margin: 0px 0px 10px calc((100% - 320px) * 0.5);
  }

  [data-mesh-id="info-01-gridContainer"] > [id="info-01"] {
    margin: 52px 0px 20px 0;
    left: 20px;
  }

  [data-mesh-id="info-02-gridContainer"] > [id="info-02-10"] {
    margin: 12px 0px 10px 0;
    left: 20px;
  }

  [data-mesh-id="info-02-gridContainer"] > [id="info-02-11"] {
    margin: 0px 0px 20px 0;
    left: 20px;
  }

  [data-mesh-id="info-02-gridContainer"] > [id="info-02-12"] {
    margin: 0px 0px 58px 0;
    left: 20px;
  }

  /* App mesh */

  [data-mesh-id="app-00-gridContainer"] > [id="app-00-01"] {
    margin: 0px 0px 10px 0;
  }

  [data-mesh-id="app-00-gridContainer"] > [id="app-00-02"] {
    margin: 0px 0px 40px 0;
  }

  [data-mesh-id="app-01-10-gridContainer"] > [id="app-01-11"] {
    margin: 32px 0px 34px 0;
    left: 20px;
  }

  [data-mesh-id="app-01-10-gridContainer"] > [id="app-01-12"] {
    margin: 0px 0px 10px 0;
    left: 20px;
  }

  [data-mesh-id="app-01-10-gridContainer"] > [id="app-01-13"] {
    margin: 0px 0px 10px 0;
    left: 20px;
  }

  [data-mesh-id="app-01-10-gridContainer"] > [id="app-01-14"] {
    margin: 0px 0px 20px 0;
    left: 20px;
  }

  [data-mesh-id="app-01-20-gridContainer"] > [id="app-01-21"] {
    margin: 15px 0px 10px 0;
    left: 81px;
  }

  [data-mesh-id="app-01-22-gridContainer"] > [id="app-01-22"] {
    margin: 7px 0px 7px 0;
    left: 7px;
  }

  [data-mesh-id="app-01-20-gridContainer"] > [id="app-01-23"] {
    margin: 0px 0px 20px 0;
    left: 55px;
  }

  [data-mesh-id="app-02-20-gridContainer"] > [id="app-02-21"] {
    margin: 20px 0px 11px 0;
    left: 20px;
  }

  [data-mesh-id="app-02-20-gridContainer"] > [id="app-02-22"] {
    margin: 0px 0px 10px 0;
    left: 20px;
  }

  [data-mesh-id="app-02-20-gridContainer"] > [id="app-02-23"] {
    margin: 0px 0px 10px 0;
    left: 20px;
  }

  [data-mesh-id="app-02-20-gridContainer"] > [id="app-02-24"] {
    margin: 0px 0px 20px 0;
    left: 20px;
  }

  [data-mesh-id="app-01-20-gridContainer"] > [id="app-01-20-wedge"] {
    height: 0;
  }

  /* footer mesh  */

  [data-mesh-id="SITE-FOOTER-gridContainer"] {
    margin-bottom: -8px;
  }

  [data-mesh-id="SITE-FOOTER-gridContainer"] > [id="contact"] {
    margin: 0px 0px 0 calc((100% - 320px) * 0.5);
  }

  [data-mesh-id="SITE-FOOTER-gridContainer"] > [id="footer"] {
    margin: 0px 0px 0px calc((100% - 320px) * 0.5);
  }

  [data-mesh-id="footer-01"] > [id="footer-logo"] {
    margin: 30px 0px 16px 0;
    left: 20px;
  }

  [data-mesh-id="footer-01"] > [id="footer-01-11"] {
    margin: 36px 0px 0px 0;
    left: 46px;
  }

  [data-mesh-id="footer-01"] > [id="footer-01-12"] {
    margin: 0px 0px 6px 0;
    left: 20px;
  }

  [data-mesh-id="footer-01"] > [id="footer-01-13"] {
    margin: 0px 0px 20px 0;
    left: 20px;
    grid-area: 5 / 1 / 6 / 2;
  }

  [data-mesh-id="footer-01"] > [id="footer-01-14"] {
    margin: 0;
    left: 20px;
    grid-area: 4 / 1 / 5 / 2;
  }

  [data-mesh-id="footer-02"] > [id="footer-02-10"] {
    margin: 24px 0px 24px 0;
    left: 20px;
  }

  [data-mesh-id="footer-02"] > [id="footer-02-11"] {
    margin: 0px 0px 21px 0;
    left: 20px;
  }

  [data-mesh-id="contact-00-gridContainer"] > [id="contact-00"] {
    position: relative;
    margin: 0px 0px 0px 0;
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
  }

  [data-mesh-id="contact-01-gridContainer"] > [id="contact-01"] {
    margin: 51px 0px 20px 0;
    left: 20px;
  }

  [data-mesh-id="contact-02-gridContainer"] > [id="contact-02-00"] {
    margin: 24px 0px 24px 0;
    left: 10px;
  }

  [data-mesh-id="formContent-gridContainer"] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: repeat(4, min-content) 1fr;
    grid-template-columns: 100%;
  }

  [data-mesh-id="formContent-gridContainer"] > [id="form-01"] {
    margin: 10px 0px 16px 0;
    left: 10px;
  }

  [data-mesh-id="formContent-gridContainer"] > [id="form-02"] {
    margin: 0px 0px 16px 0;
    left: 10px;
    grid-area: 2 / 1 / 3 / 2;
  }

  [data-mesh-id="formContent-gridContainer"] > [id="form-03"] {
    margin: 0px 0px 16px 0;
    left: 10px;
    grid-area: 3 / 1 / 4 / 2;
  }

  [data-mesh-id="formContent-gridContainer"] > [id="form-04"] {
    margin: 0px 0px 33px 0;
    left: 10px;
    grid-area: 4 / 1 / 5 / 2;
  }

  [data-mesh-id="formContent-gridContainer"] > [id="form-05"] {
    margin: 0px 0px 38px 0;
    left: 10px;
    grid-area: 5 / 1 / 6 / 2;
  }
}
